/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/inter-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/font/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/font/inter-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/font/inter-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/font/inter-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/font/inter-v12-latin-regular.svg#Inter') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Monument';
  src: url("/assets/font/MonumentExtended-Regular.woff2") format('woff2');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: MatterTRIAL;
  src: url(/assets/font/MatterTRIAL-Medium.woff) format('woff');
}

* {
  font-family: Inter, sans-serif;
  color: #fff
}

body {
  background-image: url(/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121212;
  min-height: 100vh;
}

.function-description p {
  color: #d8d8d8;
}

h2 {
  font-family: 'Monument';
  letter-spacing: 1.8;
}

.leaderboard-pain {
  flex-direction: row;
}

@media only screen and (max-width: 1250px) {
  .leaderboard-pain {
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 1vw !important;
  }

  .lbuser {
    width: 100% !important;
  }

  .cfs-pain {
    font-size: 1.375rem !important;
    word-break: break-all;
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .leaderboard-pain {
    flex-direction: row;
    align-items: center !important;
  }

  .lbuser {
    width: 50% !important;
  }
}

.wave-transform {
  transform: rotate(180deg);
}

.divider {
  background-image: linear-gradient(120deg, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 900;
}

.stats-box {
  backdrop-filter: blur(1px);
}

.stats {
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  box-sizing: border-box;
  /* background: linear-gradient(120deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(/assets/img/blurry-gradient-haikei.svg) no-repeat;
  background-size: cover; */
}

.statistics {
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 80vw;
  padding: 24px 0;
  background-color: transparent;
}

.stats-container {
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.stats-item {
  padding: 0 33px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.highlight {
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: border-box;
  font-size: 60px;
  line-height: 1.14em;
  letter-spacing: -0.05em;
  font-weight: 900;
  color: white;
}


.stats-description {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(120deg, #277a9b, #00ff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-img {
  border: 15px solid #277a9b;
  border-radius: 15%;
  filter: drop-shadow(0px 0px 27px #277a9b);
}

#nav {
  width: 80vw;
  margin: auto;
  background: #252b31;
  text-align: center;
  backdrop-filter: blur(5px);
  margin-top: 28px;
  border-radius: 0.675rem;
  position: fixed;
  left: 11vw;
  z-index: 999;
}

.features-gradient {
  background: linear-gradient(232deg, #277a9b, #00ff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navbar-brand,
.navbar-brand span {
  /* background: linear-gradient(120deg,#277a9b, #00ff1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
  font-family: 'MatterTRIAL', Inter, sans-serif;
  font-size: 32px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.home-purple-circle {
  top: -162px;
  right: -74px;
  width: 400px;
  opacity: .4;
  filter: blur(60px);
  position: absolute;
  object-fit: cover;
}

.home-turquoise-circle {
  filter: blur(60px);
  position: absolute;
  object-fit: cover;
  top: 515px;
  right: 688px;
  width: 170px;
  opacity: .6;
}

.content {
  color: #fff;
  padding: 0 9%;
  text-align: center;
  margin-top: 15vh;
  transition: all 0.5s;
}

.at {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(230deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  margin-right: 2px;
}

.text {
  margin-left: 34px;
  padding-left: 14px;
  width: 100%;
}

.content h1 {
  font-family: MatterTRIAL;
  font-weight: 700;
  line-height: 1.2;
  font-size: 67px;
}

.head {
  font-family: MatterTRIAL;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  font-size: 90px;
  margin-top: -10px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-326px * 4));
    /* '4' is half of '8' */
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ffffff0d;
}

.cfs-pain {
  font-size: 1.475rem;
} 

@media only screen and (max-width:900px) {
  body {
    min-height: 100vh;
  }

  .content h1 {
    font-size: 50px
  }

  .stats-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .content {
    flex-direction: column;
  }

  .hero-image {
    display: none;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px
  }

  .text {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    flex-direction: column-reverse;
  }

  .icon {
    margin-left: 24px
  }

  .blob {
    display: none;
  }

  .features-info {
    padding: 85px;
  }

  .guilds-info {
    width: 100%;
  }

  section {
    margin-top: 50px;
  }

  .plugin-hero-button {
    margin-bottom: 40px;
  }

  .plugin-dropdown-container {
    display: none !important;
  }

  .home-purple-circle {
    display: none;
  }

  .features-h1 {
    font-size: 60px;
  }

  nav {
    height: 74px !important;
  }

  .stats-container {
    flex-direction: column;
  }

  .stats-item {
    border-right: none;
    border-bottom: 1px solid #333;
    padding: 12px 33px;
  }
}


.hero-button {
  align-items: center;
  background: linear-gradient(120deg, #2f4bbc, #06f) !important;
  margin-top: 12px;
  border: 0;
  border-radius: 8px;
  box-shadow: #06f -2px 0px 17px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 280px;
  min-height: 65px;
  padding: 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}

.line {
  display: flex;
  align-items: center;
}

.line::before {
  display: unset;
  margin-right: 10px;
  content: "";
  width: 40px;
  height: 2px;
  background: #06f;
}

.donate span,
.donate {
  /* cool green gradient */
  background: linear-gradient(120deg, #277a9b, #06b71b) !important;
}

.donate {
  box-shadow: #00ff1e -2px 0px 17px -5px !important;
}

.hero-button:hover {
  outline: 0;
  transform: scale(1.1);
  box-shadow: #277a9b -2px 0px 25px -5px;
  background-color: #2f4bbc;
}

.hero-button span {
  background: linear-gradient(120deg, #2f4bbc, #06f);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  font-weight: 300;
  font-family: MatterTRIAL;
}

.hero-button:hover span {
  background: none;
}

.hero-button:active {
  transform: scale(0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important
}

.loader {
  position: absolute;
  background: #000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 22
}

.loader img {
  border-radius: 50%;
  border: 6px solid #DE01D6;
  width: 20%;
  animation: pulsate 1s linear infinite
}

.wrapper {
  border: 1px solid transparent;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  background: #121212;
  box-shadow: rgba(0, 0, 0, .3) 0 19px 38px, rgba(0, 0, 0, .22) 0 15px 12px;
  font-family: MatterTRIAL, Inter, sans-serif !important
}

.shine {
  --start-color: #FF4D4D;
  --end-color: #F9CB28;
  --start-color-2: #7928CA;
  --end-color-2: #DE01D6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-45deg, #007cf0, #00dfd8, var(--start-color-2), var(--end-color-2), var(--start-color), var(--end-color));
  animation: gradient 5s ease-in-out infinite;
  background-size: 400% 400%
}


@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.username-highlight {
  padding: 2px 15px;
  background: #ffffff0d;
  border-radius: 145px;
  text-align: left;
  width: max-content;
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}